.header_cont {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: height .2s ease-in-out;
  height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.header_holder {
  z-index: 1;
  width: 1010px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  height: 77px;

}

.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex: 1 9999 0%;
  height: 36px;
}

.logo_img {
  width: 24px;
  height: 24px;
  background-position: -52px -234px;
}

.logo_breacker {
  width: 1px;
  height: 28px;
  background-color: #262626;
  margin: 0 16px;
}

.logo_text_img {
  height: 29px;
  width: 103px;
  background-position: -94px -72px;
  align-self: flex-end;
}

.search_pic {
  height: 10px;
  width: 10px;
  background-position: -437px -344px;
  margin-right: 6px;
  vertical-align: baseline;
  display: inline-block;
}

.search_bar {
  width: 215px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.search_placeholder{
  display: inline;
    left: -5px;
}

.search_placeholder .sss {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  cursor: text;
  width: 40px;
  border: 0px solid black;
  color: #999;
}

.header_pics {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1 9999 0%;
}

.right_pic{
  margin-left: 30px;
  width: 24px;
  height: 24px;
}

.header_pics :first-child {
  margin: 0px;
}

.explore{
  background-position: -130px -286px;
}

.heart{
  background-position: -52px -260px;
}

.profile{
  background-position: -271px -182px;
}

@media screen and (max-width: 680px) {
  .header_cont {
    height: 60px;   
    padding: 10px 10px;
  }
  .header_holder{
    padding: 0px;
    height: auto;
  }
  .logo_breacker{
    display: none;
  }
  .logo_text_img{
    display: none;
  }
  .search_bar{
    display: none;
  }
}
