.with_img {
  background-repeat: no-repeat;
  background-image: url(../assets/img/all.png);
  cursor: pointer;
}

.with_ico {
  background-repeat: no-repeat;
  background-image: url(../assets/img/all1.png);
  cursor: pointer;

}

button{
  background: 0 0;
  border: 0;
  outline: none;
}

.hidden{
  display: none;
}


*{
  transition: .5s all;
}