.ul_comments {
  width: 100%;
  margin: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.li_comment {
  overflow: hidden;
  padding-bottom: 6px;
  width: 100%;
  word-wrap: break-word;
  padding-top: 5px;
  margin-right: -2px;
  padding-right: 2px;
}

.little_heart {
  background-position: -323px -274px;
  height: 11px;
  width: 12px;
}

.comment_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment_body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
}

.comment_body h3 {
  color: #262626;
  font-size: 14px;

  text-decoration: none;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: -5px;
}

.ddsds{
  overflow: auto;
  max-width: 400px;
}

.show_all_comments{
  font-size: 14px;
  cursor: pointer;
  color: #999!important;
  font-weight: 500!important;
}

.send_com{
  font-weight: 600;
  border: 0;
  color: #1075d4;
  display: inline;
  padding-right: 10px;
  cursor: pointer;
}

.send_active{
  color: hsl(209, 95%, 84%);
  cursor: pointer;
  padding-right: 15px;
}


@media screen and (max-width: 620px) {
  .ddsds{
    overflow: auto;
    max-width: 300px;
    width: auto;
  }
  .comment_body h3 {
    width: auto;
  }
  
  .like_holder{
    width: 10%;
  }

  .ul_comments{
    padding: 0px;
    padding-left: 16px;
    max-width: 100%;
  }
}


@media screen and (max-width: 420px) {
  .ddsds{
    max-width: 200px;
  }
}